@font-face {
    font-family: 'sofia-pro medium';
    src: url(../fonts/sofia-pro/Sofia-Pro-Medium.otf);
}

@font-face {
    font-family: 'sofia-pro regular';
    src: url(../fonts/sofia-pro/Sofia-Pro-Regular.otf);
}

@font-face {
    font-family: 'poppins bold';
    src: url(../fonts/poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'poppins extraBold';
    src: url(../fonts/poppins/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: 'poppins medium';
    src: url(../fonts/poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'poppins regular';
    src: url(../fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'poppins semiBold';
    src: url(../fonts/poppins/Poppins-SemiBold.ttf);
}