@import url('../fonts/fonts.scss');
@import url('../scss/colors.scss');


.banner_wrapper {
    position: relative;
    display: flex;
    gap: 60px;
    height: 880px;

    @media (max-width:  1670px) {
        gap: calc(1vw);
    }

    @media (max-width:  1300px) {
        height: calc(65vw);
    }

    @media (max-width:  550px) {
        height: 370px;
    }

    @media (max-width:  450px) {
        height: 300px;
    }

    @media (max-width:  370px) {
        height: 280px;
    }
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 540px;
    position: relative;
    z-index: 10;

    .title {
        font-size: 70px;
        line-height: 1.3;
        font-family: 'poppins bold';
        margin: 0;
        margin-bottom: 20px;

        .title_noWrap {
            white-space: nowrap;
            color: var(--green-darc-color);
        }

        
        .title_noWrap.dark {
            white-space: nowrap;
            color: white;
        }

        @media (max-width:  1500px) {
            font-size: 60px;
        }

        @media (max-width:  1300px) {
            font-size: 50px;
            width: 360px;
        }

        @media (max-width:  1100px) {
            font-size: 40px;
            width: 290px;
        }

        @media (max-width:  900px) {
            width: 220px;
        }

        @media (max-width:  800px) {
            font-size: 35px;
        }

        @media (max-width:  670px) {
            font-size: 30px;
        }

        @media (max-width:  620px) {
            line-height: 1.1;
            margin-bottom: 10px;
        }

        @media (max-width:  370px) {
            font-size: 24px;
            margin-bottom: 7px;
        }
    }

    .title span {
        color: var(--orange-color-bg);
    }

    .title.dark {
        color: white;
    }

    .subtitle {
        width: 450px;
        font-family: 'sofia-pro regular';
        font-size: 18px;
        line-height: 1.7;
        margin: 0;
        margin-bottom: 30px;
        color: rgba(35, 53, 6, 0.65);

        @media (max-width:  1300px) {
            font-size: 14px;
            width: 360px;
        }

        @media (max-width:  1100px) {
            font-size: 14px;
            width: 290px;
        }

        @media (max-width:  900px) {
            font-size: 12px;
            width: 220px;
        }

        @media (max-width:  670px) {
            font-size: 11px;
            width: 210px;
        }

        @media (max-width:  620px) {
            width: 180px;
            line-height: 1.5;
        }

        @media (max-width:  620px) {
            margin-bottom: 15px;
        }

        @media (max-width:  370px) {
            font-size: 10.5px;
            line-height: 1.4;
            margin-bottom: 10px;
            width: 160px;
        }
    }

    .subtitle.dark {
        color: white;
    }

    .banner_btn {
        font-family: 'sofia-pro medium';
        color: white;
        background-color: var(--orange-color-bg);
        border: none;
        border-radius: 30px;
        width: 210px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        transition: .45s;

        @media (max-width:  900px) {
            font-size: 12px;
            width: 130px;
        }
    }

    .banner_btn:hover {
        background-color: var(--orange-color-hover);
    }

    .banner_btn:active {
        transform: scale(97%);
        background-color: var(--orange-color-active);
    }

    @media (max-width:  1600px) {
        width: calc(33vw);
    }
}

.right {
    position: relative;

    .img {
        position: absolute;
        // top: 0;
        // right: -230px;
        width: 820px;

        @media (max-width:  1600px) {
        width: calc(52vw);
        }

        @media (max-width:  1500px) {
            width: calc(55vw);
        }

        @media (max-width:  1400px) {
            width: calc(57vw);
        }

        @media (max-width:  1300px) {
            width: calc(61vw);
        }

        @media (max-width:  550px) {
            width: 340px;
            left: calc(9vw);
        }

        @media (max-width:  450px) {
            width: 280px;
            left: calc(16vw);
        }

        @media (max-width:  370px) {
            width: 260px;
        }
    }
}
