@import url('../fonts/fonts.scss');
@import url('../scss/colors.scss');

.half_circle  {
    color: rgba(253, 185, 38, 0.23);
}


// --------------------------- svg icon img START ----------------------------
.list_img_choose_product_1 {
    width: 62px;
    color: #7E4FF2;
    transition: .7s;
}

.list_img_choose_product_1:hover {
    color: #c85ce9;
    scale: 1.1;
    transform: rotate(360deg);
}

.list_img_choose_product_vector_1,
.list_img_choose_product_vector_2,
.list_img_choose_product_vector_3 {
    color: white;
    scale: 1.2;
    transform: translateY(-4px) translateX(-6px);
}

.list_img_doPayment_2 {
    width: 62px;
    color: #7BBB66;
    transition: .7s;
}

.list_img_doPayment_2:hover {
    color: #53dd41;
    scale: 1.1;
    transform: rotate(360deg);
}

.list_img_do_payment_vector_1,
.list_img_do_payment_vector_2,
.list_img_do_payment_vector_3,
.list_img_do_payment_vector_4 {
    color: white;
    scale: 1.3;
    transform: translateY(-8px) translateX(-7px);
}

.list_img_confirmation_payment_3 {
    width: 62px;
    color: #FF800B;
    transition: .7s;
}

.list_img_confirmation_payment_3:hover {
    color: #ffb20b;
    scale: 1.1;
    transform: rotate(360deg);
}

.list_img_confirmation_payment_vector_1,
.list_img_confirmation_payment_vector_2,
.list_img_confirmation_payment_vector_3,
.list_img_confirmation_payment_vector_4,
.list_img_confirmation_payment_vector_5,
.list_img_confirmation_payment_vector_6 {
    color: white;
    scale: 1.5;
    transform: translateY(-10px) translateX(-10px);
}

.list_img_orderShipped_4 {
    width: 62px;
    color: #0088f8;
    transition: .7s;
}

.list_img_orderShipped_4:hover {
    color: #00b7ff;
    scale: 1.1;
    transform: rotate(360deg);
}

.list_img_order_shipped_vector_1,
.list_img_order_shipped_vector_2,
.list_img_order_shipped_vector_3,
.list_img_order_shipped_vector_4,
.list_img_order_shipped_vector_5,
.list_img_order_shipped_vector_6 {
    color: white;
    scale: 1.5;
    transform: translateY(-10px) translateX(-10px);
}

@media (max-width: 390px) {
    .list_img_choose_product_1,
    .list_img_doPayment_2,
    .list_img_confirmation_payment_3,
    .list_img_orderShipped_4 {
        width: 42px;
    }
}
// --------------------------- svg icon img END ----------------------------

.how_it_works_wrapper {

    @media (max-width: 770px) {
        display: flex;
        justify-content: center;
    }
}


.how_it_works_inner {
    position: relative;
    z-index: 0;
    padding: 55px 0;
    display: flex;
    gap: 30px;
    justify-content: space-between;

    .half_circle {
        position: absolute;
        z-index: -1;
        width: 362px;
        top: 52px;
        left: calc(-20vw);

        @media (max-width: 1500px) {
            left: inherit;
            right: calc(-11vw);
            transform: rotate(180deg);
        }

        @media (max-width: 950px) {
            top: 55px;
            width: 275px;
        }

        @media (max-width: 700px) {
            transform: inherit;
            width: 230px;
            left: calc(-13vw);
        }

        @media (max-width: 390px) {
            width: 210px;
        }
    }

    .half_circle.dark {
        color: #66b1f728;
    }

    @media (max-width: 700px) {
        padding: 15px 0;
    }
}

.left_wrapper {
    display: flex;
    gap: 30px;
    height: 100%;

    .left_img {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    
    .right_img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
    
    .howItWorks_img_1,
    .howItWorks_img_2,
    .howItWorks_img_3,
    .howItWorks_img_4 {
        overflow: hidden;
        display: flex;
        justify-content: center;
        border-radius: 34px;
        transition: .5s;
    }
    
    .howItWorks_img_1 {
        width: 270px;
        height: 339px;
    }
    
    .howItWorks_img_2 {
        width: 270px;
        height: 317px;
    }
    
    .howItWorks_img_3 {
        width: 235px;
        height: 270px;
    }
    
    .howItWorks_img_4 {
        width: 235px;
        height: 295px;
    }
    
    .howItWorks_img_1:hover,
    .howItWorks_img_2:hover,
    .howItWorks_img_3:hover,
    .howItWorks_img_4:hover {
        scale: 105%;
    }

    @media (max-width: 1100px) {
        gap: 15px;

        .left_img {
            gap: 15px;
        }
        
        .right_img {
            gap: 15px;
        }

        .howItWorks_img_1,
        .howItWorks_img_2 {
            width: calc(24.5vw);
        }
              
        .howItWorks_img_3,
        .howItWorks_img_4 {
            width: calc(21.2vw);
        }
    }

    @media (max-width: 1060px) {
        .howItWorks_img_1,
        .howItWorks_img_2 {
            width: calc(20vw);
        }

        .howItWorks_img_3,
        .howItWorks_img_4 {
            width: calc(19vw);
        }

        .howItWorks_img_2 {
            justify-content: start;
        }
    }

    @media (max-width: 950px) {
        .howItWorks_img_1,
        .howItWorks_img_2 {
            width: calc(24vw);
        }

        .howItWorks_img_3,
        .howItWorks_img_4 {
            width: calc(21vw);
        }

        .howItWorks_img_1 {
            height: 299px;
        }
        
        .howItWorks_img_2 {
            height: 277px;
        }
        
        .howItWorks_img_3 {
            height: 230px;
        }
        
        .howItWorks_img_4 {
            height: 255px;
        }
    }

    @media (max-width: 950px) {
        

        .howItWorks_img_1,
        .howItWorks_img_2 {
            width: calc(20vw);
        }

        .howItWorks_img_3,
        .howItWorks_img_4 {
            width: calc(17vw);
        }

        .howItWorks_img_1 {
            height: 259px;
        }
        
        .howItWorks_img_2 {
            height: 247px;
        }
        
        .howItWorks_img_3 {
            height: 190px;
        }
        
        .howItWorks_img_4 {  
            height: 215px;
        }
    }

    @media (max-width: 700px) {
        display: none;
    }
}

.right_wrapper {
    list-style-type:  none;

    .title {
        font-family: 'poppins bold';
        font-size: 70px;
        line-height: 0.5;
        color: var(--blue-color-text);

        @media (max-width: 950px) {
            font-size: 50px;
            line-height: 1.5;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        @media (max-width: 770px) {
            font-size: 35px;
            line-height: 1.5;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .title.dark {
        color: white
    }

    .subtitle {
        line-height: 1.2;
        color: rgb(2, 40, 63, 0.75);
        width: 450px;
        margin-bottom: 50px;
        font-size: 16px;

        @media (max-width: 1100px) {
            margin-bottom: 40px;
        }

        @media (max-width: 950px) {
            font-size: 14px;
            margin-top: 5px;
            margin-bottom: 10px;
            width: 370px;
        }

        @media (max-width: 770px) {
            font-size: 14px;
            width: 300px;
            margin-bottom: 20px;
        }

        @media (max-width: 700px) {
            text-align: center;
            font-size: 18px;
            width: calc(80vw);
            margin: 10px 30px;
        }

        @media (max-width: 390px) {
            font-size: 14px;
            margin: 5px 30px;
        }
    }

    .subtitle.dark {
        color: rgb(255, 255, 255, 0.75)
    }

    @media (max-width: 950px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        @media (max-width: 770px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.right_wrapper ul {
    list-style-type:  none;
    padding: 0;

    .list_wrapper {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 30px;
        margin-bottom: 15px;

        .list_text_wrapper {
            display: flex;
            flex-direction: column;
            height: 90px;

            .list_title {
                font-family: 'poppins bold';
                font-size: 20px;
                line-height: 0.5;
                color: var(--blue-color-text);

                @media (max-width: 860px) {
                    font-size: 18px;
                }

                @media (max-width: 950px) {
                    font-size: 18px;
                    line-height: 0;
                }

                @media (max-width: 390px) {
                    font-size: 16px;
                }
            }

            .list_subtitle {
                font-family: 'sofia-pro regular';
                font-size: 18px;
                line-height: 0;
                color: rgb(2, 40, 63, 0.67);

                @media (max-width: 950px) {
                    font-size: 14px;
                }

                @media (max-width: 900px) {
                    width: 250px;
                    line-height: 1.1;
                    margin-top: 0;
                }

                @media (max-width: 390px) {
                    font-size: 14px;
                    width: 200px;
                }
            }

            .list_title.dark {
                color: white;
            }

            .list_subtitle.dark {
                color: rgb(255, 255, 255, 0.67)
            }

            @media (max-width: 950px) {
                justify-content: center;
                height: 62px;
            }
        }

        @media (max-width: 950px) {
            gap: 15px;
            margin-bottom: 10px;
        }

        @media (max-width: 770px) {
            margin-bottom: 5px;
        }

        @media (max-width: 700px) {
            margin-bottom: 20px;
        }
    }

    @media (max-width: 700px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 700px) {
        width: calc(80vw);
        padding: 0;
    }
}

