:root {
    --orange-color: #FF800B;
    --blue-color-bg: #0eb3ff;
    --green-darc-color: #233506;

    --orange-color-bg: #FDB827;
    --light-color-bg: #FFF9F2;
    --blue-color-bg-2: #1880b1;
    --dark-color-bg: #0c182b;
    --dark-color-bg-2: #223350;

    --orange-color-active: #e97a13;
    --blue-color-active: #0f3c57;
    --orange-color-hover: #ff800b;
    --blue-color-hover: #00557c;

    --blue-color-text: #02283F;

    --footer-blue-text: #243165;
    --footer-gray-text: rgba(55, 84, 101, 0.8);

    --text-dark-theme-gray: rgba(255, 255, 255, 0.5);
}